name: Weather + Aqi App Pipeline

permissions:
  contents: read
  packages: write

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: code checkout
        uses: actions/checkout@v5

      - name: setting up python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest flake8

      - name: run linter (flake8)
        run: |
          echo "Running flake8..."
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      - name: run tests
        run: pytest -v --maxfail=1 --disable-warnings --cache-clear

      - name: upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: .pytest_cache/

  build-docker-push:
    needs: build-test
    runs-on: ubuntu-latest

    steps:
      - name: code checkout
        uses: actions/checkout@v5

      - name: login to github container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: build & push docker image
        run: |
          IMAGE_NAME=ghcr.io/${{ github.repository_owner }}/weather-cli
          GIT_SHA=${{ github.sha }}

          docker build -t $IMAGE_NAME:latest .
          docker tag $IMAGE_NAME:latest $IMAGE_NAME:$GIT_SHA

          docker push $IMAGE_NAME:latest
          docker push $IMAGE_NAME:$GIT_SHA